:root  > * {
  --md-primary-fg-color:        #00359E;
  --md-primary-fg-color--light: #2970FF;
  --md-primary-fg-color--dark:  #002566;
}

.md-typeset__table {
    width: 100%;
}
.md-typeset__table table:not([class]) {
    display: table;
    width: 100%;
}

.description {
    font-size: 120%;
    color: var(--md-default-fg-color--light);
}
